<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="equipment" title="msg://com.x.equipment/equipmentManagement" opened="true" icon="MENU">
        <menu id="masterData" title="msg://com.x.equipment/masterData" opened="true">
            <item view="EQUI_Equipment.list" title="msg://com.x.equipment.view.web.equipment/equipmentListView.title"
                  icon="COG"/>
            <item view="EQUI_EquipmentClass.list"
                  title="msg://com.x.equipment.view.web.equipmentclass/equipmentClassListView.title" icon="COGS"/>
            <item view="EQUI_CheckList.list" title="msg://com.x.equipment.view.web.checklist/checkListListView.title"
                  icon="LIST_UL"/>
            <item view="EQUI_EquipmentLevel.list"
                  title="msg://com.x.equipment.view.web.equipmentlevel/equipmentLevelListView.title" icon="LIST_OL"/>
            <item view="EQUI_FaultType.list" title="msg://com.x.equipment.view.web.faulttype/faultTypeListView.title"
                  icon="TWIN_COL_SELECT"/>
            <item view="EQUI_FaultLevel.list" title="msg://com.x.equipment.view.web.faultlevel/faultLevelListView.title"
                  icon="LIST"/>
        </menu>
        <menu id="jobManagement" title="msg://com.x.equipment/jobManagement" opened="true">
            <item view="EQUI_CheckPlan.list" title="msg://com.x.equipment.view.web.checkplan/checkPlanListView.title" icon="TIMER"/>
            <item view="EQUI_EquipmentCheckJob.list"
                  title="msg://com.x.equipment.view.web.equipmentcheckjob/equipmentCheckJobListView.title"
                  icon="LINES_LIST"/>
        </menu>
        <menu id="repairManagement" title="msg://com.x.equipment/repairManagement" opened="true">
            <item view="EQUI_RepairOrder.list" title="msg://com.x.equipment.view.web.repairorder/repairOrderListView.title"
                  icon="TASKS"/>
        </menu>
    </menu>

    <menu id="userData" title="msg://com.x.mes/menu.userManagement" icon="USERS">
        <item view="EQUI_User.list" title="msg://com.x.equipment.view.user/UserListView.title"/>
        <item view="sec_ResourceRoleModel.list"
              title="msg://io.jmix.securityflowui.view.resourcerole/resourceRoleModelListView.menu"/>
        <item view="sec_RowLevelRoleModel.list"
              title="msg://io.jmix.securityflowui.view.rowlevelrole/rowLevelRoleModelListView.menu"/>
        <item view="userSession.view" title="msg://io.jmix.auditflowui.view.entitylog/UserSessionsView.menu"/>
    </menu>
    <menu id="administration" title="msg://com.x.equipment/administration" icon="COGS">
        <item view="datatl_entityInspectorListView"
              title="msg://io.jmix.datatoolsflowui.view.entityinspector/listTitle"/>
        <item view="entityLog.view" title="msg://io.jmix.auditflowui.view.entitylog/entityLogView.menu"/>
        <item view="quartz_JobModel.list" title="msg://io.jmix.quartzflowui.view.jobs/jobModelListView.menu"/>
        <item view="pslock_LockInfo.list"
              title="msg://io.jmix.pessimisticlockflowui/pessimisticLockListView.menu"/>
    </menu>

</menu-config>